<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <!-- /DataTable -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css">
    <title>Document</title>
    <script>
        var table
        var id
        $(document).ready(function () {

            createtable()
            table = $('#tbuser').DataTable({
                "lengthChange": false,
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                deferRender: true,
                columns: [

                    { data: "id", title: "id", visible: false },
                    { data: "name", title: "Name-Surname" },
                    { data: "email", title: "Email" },
                    { data: "tel", title: "Tel.number" },
                    { data: "role", title: "Role" },
                    {
                        data: "anouce_Id",
                        render: function (data, type, full, meta) {
                            console.log(full)
                            return '<button  type="button" class="edit btn btn-warning  mt-1" data-toggle="modal"data-target="#editModal"><b>EDIT</b></button> <button type="button" class="deletebut btn btn-danger mt-1" data-toggle="modal"data-target="#exampleModal2"><b>DELETE</b></button>'
                        }, title: "Edit"
                    },

                ],
                responsive: true,
            });



            $("#create").click(function () {
                let name = $("#name").val()
                let email = $("#email").val()
                let tel = $("#tel").val()
                let role = $("#selectrole").val()
                $.ajax({
                    method: "POST",
                    url: "/signUp",
                    data: { username: name, email: email, tel: tel, role: role }
                }).done(function (data, state, xhr) {
                    alert(data)
                    $('#exampleModal').modal('toggle')
                    createtable()

                })
            })

            $("#saveedit").click(function () {
                let name = $("#nameedit").val();
                let email = $("#emailedit").val();
                let tel = $("#teledit").val();
                let role = $("#roleedit").val();
                $.ajax({
                    type: "PUT",
                    url: "/updateuser",
                    data: { name: name, email: email, tel: tel, role: role, id: id },
                }).done(function (data, state, xhr) {
                    swal({
                        title: "<small>Update Succes</small>",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonClass: "btn-success rounded",
                        confirmButtonText: "OK",
                        closeOnConfirm: true,
                        html: true,
                        closeOnCancel: true
                    },
                        function (isConfirm) {
                            $("#editModal").modal('hide')
                            createtable();
                        });
                })
            })

            $("#delete").click(function () {
                $.ajax({
                    type: "DELETE",
                    url: "/deleteuser",
                    data: { id: id },
                }).done(function (data, state, xhr) {
                    swal({
                        title: "<small>Delete Succes</small>",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonClass: "btn-success rounded",
                        confirmButtonText: "OK",
                        closeOnConfirm: true,
                        html: true,
                        closeOnCancel: true
                    },
                        function (isConfirm) {
                            $("#exampleModal2").modal('hide')
                            createtable();
                        });
                })
            })

            $('#tbuser tbody').on('click', '.edit', function () {
                let data = table.row($(this).parents('tr')).data();
                id = data.id;
                $("#nameedit").val(data.name);
                $("#emailedit").val(data.email);
                $("#teledit").val(data.tel);

            });
            $('#tbuser tbody').on('click', '.deletebut', function (e) {
                let data = table.row($(this).parents('tr')).data();
                id = data.id;
            });
        });


        function createtable() {
            $.ajax({
                type: "POST",
                url: "/getuser",
            }).done(function (data, state, xhr) {
                let datata = []
                for (let i = 0; i < data.length; i++) {
                    let role
                    if (data[i].role == 1) {
                        role = "User"
                    } else if (data[i].role == 2) {
                        role = "driver"
                    } else {
                        role = "admin"
                    }
                    datata.push({ name: data[i].name, email: data[i].email, tel: data[i].tel, role: role, id: data[i].Id });
                }
                table.clear();
                table.rows.add(datata).draw();
            })
        }
    </script>
    <style>
        .sidebar {
            margin: 0;
            padding: 0;
            width: 250px;
            background-color: #141414;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        .sidebar a {
            display: block;
            color: #8f9194;
            padding: 5px;
            padding-left: 50px;
            text-decoration: none;
        }

        .sidebar a.active {
            background-color: #fdfdfd;
            color: #253B6E(5, 5, 5);
        }

        .sidebar a:hover:not(.active) {
            background-color: white;
            color: rgb(9, 16, 117);
        }

        div.content {
            background-color: #f6f6f6;
            margin-top: 50px;
            margin-left: 250px;
            padding: 1px 16px;
            min-height: 1000px;
            height: auto;
        }

        @media screen and (max-width: 400px) {
            .sidebar a {
                text-align: center;
                float: none;
            }
        }

        @media screen and (max-width: 700px) {
            .sidebar {
                margin-top: 0px;
                width: 100%;
                height: auto;
                position: relative;
            }

            .sidebar a {
                float: left;
                width: 100%;
            }



        }
    </style>

</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #141414;">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold text-upppercase" href="#">ADMIN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex ms-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Recipient's username"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                    </div>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">ADMIN</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--navbar-->

    <!-- Sidebar -->
    <div class="sidebar ">
        <a href="/adminhome">
            <div class="row proposal Card_proposal ">
                <!-- <div class="col-0 mt-3">
                    <img src="/assets/images/Admin/sidebar/user-w.svg" id="icon_sb">
                </div> -->
                <div class="col-8 mt-4">
                    <p id="Text_proposal"><b>USER</b></p>
                </div>
                <div class="col-1 mt-3 ml-2" id="lock"> </div>
            </div>
        </a>
        <a href="/adminassignment">
            <div class="row proposal Card_proposal ">
                <!-- <div class="col-0 mt-3">
                    <img src="/assets/images/Admin/sidebar/assignment.svg" id="icon_sb">
                </div> -->
                <div class="col-8 mt-4">
                    <p id="Text_proposal"><b>ASSIGNMENT</b></p>
                </div>
                <div class="col-1 mt-3 ml-2" id="lock"></div>
            </div>
        </a>
        <a href="/admingroup">
            <div class="row proposal Card_proposal ">
                <!-- <div class="col-0 mt-3">
                    <img src="/assets/images/Admin/sidebar/group-w.svg" id="icon_sb">
                </div> -->
                <div class="col-8 mt-4">
                    <p id="Text_proposal"><b>GROUP</b></p>
                </div>
                <div class="col-1 mt-3 ml-1" id="lock"></div>
            </div>
        </a>
        <a href="/adminscore">
            <div class="row proposal Card_proposal ">
                <!-- <div class="col-0 mt-3">
                    <img src="/assets/images/Admin/sidebar/score-w.svg" id="icon_sb">
                </div> -->
                <div class="col-8 mt-4">
                    <p id="Text_proposal"><b>SCORE</b></p>
                </div>
                <div class="col-1 mt-3" id="lock"> </div>
            </div>
        </a>
    </div>
    <!-- Sidebar -->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-md-12 fw-bold fs-3">Dashboard</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                <div class="card-header">Header</div>
                                <div class="card-body">
                                    <h5 class="card-title">Primary card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                <div class="card-header">Header</div>
                                <div class="card-body">
                                    <h5 class="card-title">Primary card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    Charts
                                </div>
                                <div class="card-body">
                                    <canvas class="chart" width="250" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    Map
                                </div>
                                <div class="card-body">
                                    <canvas class="chart" width="200" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    Charts
                                </div>
                                <div class="card-body">
                                    <canvas class="chart" width="250" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <Tabls class="col-md-12 fw-bold fs-3">Profile Member
                            <button class="btn btn-primary" id="adduser" data-toggle="modal" data-target="#exampleModal">+</button>
                        </div>

                    <div class="col-md-12">
                     <!-- table -->
        <table class="table table-bordered  table-responsive-xl" id="tbuser">
        </table>
    </div>

    <!-- Modal  Add User -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Email:</label>
                            <input class="form-control" type="email" placeholder="example@mail.com" id="email"></input>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Tel number:</label>
                            <input class="form-control" type="tel" placeholder="08xxxxxxxx" id="tel"></input>
                        </div>
                        <div>
                            <select id="selectrole" class="form-control">
                                <option value="3">Admin</option>
                                <option value="1">User</option>
                                <option value="2">Driver</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                    <button type="button" class="btn btn-primary" id="create">add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- end -->

    <!-- Modal  Edit User -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">EDIT User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="nameedit">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Email:</label>
                            <input class="form-control" type="email" placeholder="example@mail.com"
                                id="emailedit"></input>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Tel:</label>
                            <input class="form-control" type="tel" placeholder="08xxxxxxxx" id="teledit"></input>
                        </div>
                        <div>
                            <select id="roleedit" class="form-control">
                                <option value="3">Admin</option>
                                <option value="1">User</option>
                                <option value="2">Driver</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                    <button type="button" class="btn btn-primary" id="saveedit">SAVE</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->

    <!-- Modal  Delete User -->

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DELETE USER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <p>Are you sure you want to remove this User</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                    <button type="button" class="btn btn-danger" id="delete">YES</button>
                </div>
            </div>
        </div>
    </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
    </div>
</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>