<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="/style/car.css">
    <link rel="stylesheet" type="text/css" href="/style/sidebar.css">

    <script src="/scripts/js/usermanage.js"></script>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <%- include('./partials/sidebar.ejs') %>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">

                                <div class="row">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                                <div class="row">

                                    <canvas class="chart" width="250" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                  

                <!-- end -->

                <!-- Modal  Delete User -->

                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">DELETE USER</h5>
                                <button type="button" class="close close2" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <p>Are you sure you want to remove this User</p>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary close2">NO</button>
                                <button type="button" class="btn btn-danger" id="deletekiki">YES</button>
                            </div>
                        </div>
                    </div>
                </div>
    </body>

</html>