<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map{
          height: 100%;
      }
      html,body {
        height: 100%;
        margin: 0;
        padding: 0%;
      }
      #floating-panel{
        position:absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <div id="floating-panel">
      <input id="address" type="text" value="พะเยา">
      <input id="submit" type="button" value="ค้นหาข้อมูล">
      <input type="button" value="Logout" onclick="window.location.replace('/auth/logout')">
    </div>
    
    <div id="map"></div>
    <script>
      var maps; 
      var position={lat:19.024647,lng:99.943809};
      function initMap(){
        maps = new google.maps.Map(document.getElementById('map'),{
              center:position,
              zoom: 15,
        });
        var geocoder = new google.maps.Geocoder();
        document.getElementById('submit').addEventListener('click',function(){
          geocoderAddress(geocoder,maps);
        });
      }
      function geocoderAddress(geocoder,resultsMap){
        var address = document.getElementById('address').value;
        geocoder.geocode({'address':address},function(results,status){
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map:resultsMap,
              position:results[0].geometry.location,
            });
          } else {
            alert('Geocode was not successful for the following reason: '+status);
          }
        });
      }
      </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSaaROLQQlFY4xMlTf9plC925bsdnbDGg&callback=initMap"
    async defer></script>
  </body>
</html>