<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="/style/login.css">


    <body style="background-image: url('/image/super-car-2.jpg');  height: 100%;
background-repeat: no-repeat;
background-size: cover;
">
        <br>
        <div style="height: 20%;" class="mt-5"></div>
        <class class="data-form">
            <div class="data-input">

                <div class="d-grid gap-2 col-6 mx-auto">
                    <p>Login</p>
                    <button id="btnlogin" class="btn btn-primary btn-block">Login with Google</button>
                    <button id="btnregister" class="btn btn-primary btn-block">Create an account</button>

                </div>
            </div>
        </class>

        <script src="/scripts/js/login.js"></script>
    </body>

</html>