<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="/style/login.css">

    <body>
        <form></form>
        <class class="data-form">
            <div class="data-input">
                <section>
                    <div class="imgBx">
                        <img src="/image/super-car-2.jpg">
                    </div>
                    <div class="contentBx">
                        <div class="formBx">
                            <h2>Login</h2>
                            <form>
                                <div class="inputBx">
                                    <span>Username</span>
                                    <input type="text" name="username">
                                </div>
                                <div class="inputBx">
                                    <span>Password</span>
                                    <input type="password" name="password">
                                </div>
                                <!-- <div class="remember">
                                    <label><input type="checkbox" nme=""> Remember me</label>
                                </div> -->
                                <div class="inputBx">
                                    <input type="submit" value="Login" name="">
                                </div>
                                <!-- <div class="inputBx">
                                    <p>Don't have an account? <a href="#">Create an account</a></p>
                                </div> -->
                            </form>
                            <h3>Login with Google</h3>
                            <ul class="sci">
                                <li id="btnlogin"><img src="/image/google-symbol.png"></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </class>
        <script src="/scripts/js/login.js"></script>
    </body>

</html>