<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <head>
        <link rel="stylesheet" type="text/css" href="/style/login.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Servies Car Admin
        </title>
        <!-- GOOGLE FONT-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <!-- BOXICONS -->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <!-- APP CSS -->
        <link rel="stylesheet" href="/styles/grid.css">
        <link rel="stylesheet" href="/styles/app.css">
    </head>

    <body>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
             
            </div>
            <div class="form-container sign-in-container">
                <form action="#">
                    <h1>LOGIN GOOGLE</h1>
                    <div class="social-container">
                        <a href="#" class="social" id="btnlogin" ><i class="fab fa-google-plus-g"  ></i></a>
                    </div>
                    <div style="background-image: url('car_13260.png');"></div>

                </form>
            </div>
            <div class="overlay-panel overlay-right">
				<h1>ยินดีตอนรับ</h1>
             <p>ระบบติดตามรถขนส่งสาธารณะจังหวัดพะเยา</p>
				
				
			</div>
        </div>
    </body>

</html>
<script src="/scripts/js/login.js"></script>