<!DOCTYPE html>
<html>
    
    <%- include('./partials/header.ejs') %>
  <head>
    <title>Heatmaps</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/style/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/style/sidebar.css">
    <script src="/scripts/js/dashboard.js"></script>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/sidebar.ejs') %>


    
</body>
</html>