<% const menu = [{title: "Home", url: "/"}, {title: "Sign in", url: "/signIn"}]; %>
<% const currentMenu = locals.content ? "Home" : "Sign in" %> 

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">My lovely blog</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <% menu.forEach(element => { %>
                <% if (element.title == currentMenu) { %>
                    <li class="nav-item active">
                <% } else { %>
                    <li class="nav-item">             
                <% } %>
                        <a class="nav-link" href="<%= element.url %> "><%= element.title %> </a>
                    </li>
            <% }) %>
        </ul>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">My lovely blog</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signIn">Sign in</a>
            </li>
        </ul>
    </div>
</nav> -->