<!-- Sidebar -->
<div class="sidebar fixed-top ">
    <div class="row mt-4">
        <div class="col-6"></div>
        <div class="col-6" style="text-align: left; color: white; font-size: 20pt; font-weight: bold;">ADMIN</div>
    </div>
    <hr style="height: 5px;border-width:0;color:white;background-color:white">
    <a href="/dashboard">
        <div class="row proposal Card_proposal ">
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/user-w.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal"><b>Dashboard</b></p>
            </div>
            <div class="col-1 mt-3 ml-2" id="lock"> </div>
        </div>
    </a>
    <a href="/adminse">
        <div class="row proposal Card_proposal ">
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/assignment.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal"><b>Driver Manage</b></p>
            </div>
            <div class="col-1 mt-3 ml-2" id="lock"></div>
        </div>
    </a>
    <a href="/carinfo">
        <div class="row proposal Card_proposal ">
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/group-w.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal"><b>Car Manage</b></p>
            </div>
            <div class="col-1 mt-3 ml-1" id="lock"></div>
        </div>
    </a>
    <a href="/carmatchinfo">
        <div class="row proposal Card_proposal ">
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/score-w.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal"><b>match</b></p>
            </div>
            <div class="col-1 mt-3" id="lock"> </div>
        </div>
    </a>
    
</div>
<!-- Sidebar -->