<!-- Sidebar -->
<div class="sidebar ">
    <a href="/adminhome">
        <div class="row proposal Card_proposal ">
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/user-w.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal"><b>Dashboard</b></p>
            </div>
            <div class="col-1 mt-3 ml-2" id="lock"> </div>
        </div>
    </a>
    <a href="/car">
        <div class="row proposal Card_proposal ">
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/assignment.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal"><b>User Manage</b></p>
            </div>
            <div class="col-1 mt-3 ml-2" id="lock"></div>
        </div>
    </a>
    <a href="/usermanage">
        <div class="row proposal Card_proposal ">
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/group-w.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal"><b>Car Manage</b></p>
            </div>
            <div class="col-1 mt-3 ml-1" id="lock"></div>
        </div>
    </a>
    <a href="/match">
        <div class="row proposal Card_proposal ">
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/score-w.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal"><b>match</b></p>
            </div>
            <div class="col-1 mt-3" id="lock"> </div>
        </div>
    </a>
    
</div>
<!-- Sidebar -->