<!-- Sidebar -->
<div class="sidebar fixed-top" style="background:  #fc0000 url('../image/phayao.jpg'); object-fit: cover; " >
    <div class="row mt-4">
        <div class="col-5">
            <i class="fas fa-user-tie ml-5" style="color: white; font-size: 30pt;"></i>
        </div>
        <div class="col-7" style="text-align: left; color: white; font-size: 20pt; font-weight: bold;">ADMIN</div>
    </div>
    <hr style="height: 5px;border-width:0;color:white;background-color:white" >
    <a href="/dashboard">
        <div class="row proposal Card_proposal "  >
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/user-w.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal" style="color: white;"><b>Dashboard</b></p>
            </div>
            <div class="col-1 mt-3 ml-2" id="lock"> </div>
        </div>
    </a>
    <a href="/adminse">
        <div class="row proposal Card_proposal ">
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/assignment.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal" style="color: white;"><b>Driver Manage</b></p>
            </div>
            <div class="col-1 mt-3 ml-2" id="lock"></div>
        </div>
    </a>
    <a href="/carinfo">
        <div class="row proposal Card_proposal ">
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/group-w.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal" style="color: white;"><b>Car Manage</b></p>
            </div>
            <div class="col-1 mt-3 ml-1" id="lock"></div>
        </div>
    </a>
    <a href="/carmatchinfo">
        <div class="row proposal Card_proposal ">
            <!-- <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/score-w.svg" id="icon_sb">
        </div> -->
            <div class="col-8 mt-4">
                <p id="Text_proposal" style="color: white;"><b>match</b></p>
            </div>
            <div class="col-1 mt-3" id="lock"> </div>
        </div>
    </a>
    
</div>
<!-- Sidebar -->